<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Bike Usage Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        city_development_index:
        <input name="city_development_index" type="number" required>
        <br>
        <br> training_hours:
        <input name="training_hours" type="number" required>
        <br>
        <br> company_size:
        <input name="company_size" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Will the employee leave the job? (yes:1, no:0):
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>